@use "../../../styles/mixins";
@use "../../../styles/typography";


.anchor {
    @include mixins.focus;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        background-color: var(--imgly-button-text-hover-bg);
    }

    & > *:hover {
        background-color: inherit; // Reset to default background color on hover
    }
    &__is_small {
        @include typography.imgly-button-small;
    
        height: 2rem;
        padding: 0 0.75rem;
      }
}