@use "../../styles/mixins" as *;

.root {
  z-index: var(--imgly-z-index-header);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--imgly-header-height);
  max-width: var(--imgly-header-max-width);
  margin-left: auto;
  margin-right: auto;

  @include lg {
    justify-content: space-between;
    gap: 2.5rem;
  }
}
